:root {
    --blue: #012d41;
    --white: #ffffff;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 1.125rem
}

.dropdown-menu.show {
    display: inline-flex;
}

.dropdown-menu {
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0.0rem;
    box-shadow: 2px 2px 5px lightgrey;
}

.dropdown-inner-menu {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.top-strip {
    background-color: var(--blue);
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before {
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before {
    content: 'Arial';
    font-family: 'Arial';
}

#editededitor-container {
    font-family: "Impact";
    font-size: 18px;
    height: 375px;
}

#editededitor-container #toolbar-container.ql-toolbar {
    padding: 10px;
}

.ql-snow .ql-picker.ql-font,
.ql-bubble .ql-picker.ql-font {
    width: 130px;
}


/* Set dropdown font-families */

.ql-font span[data-value="impact"]::before,
.ql-font span[data-label="Impact"]::before {
    font-family: "Impact";
}

.ql-font span[data-value="courier"]::before,
.ql-font span[data-label="Courier"]::before {
    font-family: "Courier";
}

.ql-font span[data-value="comic"]::before,
.ql-font span[data-label="Comic Sans MS"]::before {
    font-family: "Comic Sans MS";
}

.ql-font-impact {
    font-family: 'Impact';
}

.ql-font-courier {
    font-family: 'Courier';
}

.ql-font-comic {
    font-family: 'Comic Sans MS';
}

footer {
    background-color: '#e5e5e5';
}

footer h6 {
    padding: 20px, 20px, 10px, 20px;
}

.list-group-item {
    background-color: transparent !important;
}

.social-icon {
    padding-inline: inherit;
}

.title-text {
    font-weight: 900;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text-grey {
    color: lightgrey;
    text-decoration: none;
}